:root {
    --border: 1px solid black;
    --white-bg: hsl(0, 0%, 90%);
    --btn-bg: hsl(248, 27%, 70%);
    --btn-hover: hsl(248, 27%, 79%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: sans-serif;
}

body {
    background-image: url("imgs/bg-img.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    height: 100dvh;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    height: 12vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.webName {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}

main {
    padding-top: 12vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#inputBar {
    font-size: 1.1rem;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    background-color: var(--white-bg);
    border-style: none;
    border: var(--border);
}

#submitBtn {
    border-style: none;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--btn-bg);
}

#submitBtn:hover {
    background-color: var(--btn-hover);
}

#weatherDiv {
    height: 30vh;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    visibility: hidden;
    background-color: var(--white-bg);
    border: var(--border);
}

.weatherIcon,
.weatherTemp,
.weatherDetails {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherIcon {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.iconSvg {
    height: 150px;
    width: 150px;
}

.weatherTemp {
    grid-column: 2/3;
    border-left: var(--border);
    border-right: var(--border);
}

.tempDegree {
    font-size: 3.5rem;
    font-weight: 700;
}

.weatherDetails {
    grid-column: 3/-1;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
}

.weatherCity {
    font-size: 1.5rem;
}

.weatherHumidity {
    padding-bottom: 10px;
}

footer p {
    padding: 10px;
}

/* Small media query */
@media only screen and (width < 43.75em) { /* 700px */ 
    header {
        text-align: center;
    }
    #form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    #weatherDiv {
        height: 55vh;
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .weatherIcon {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .iconSvg {
        height: 100px;
        width: 100px;
    }

    .weatherTemp { 
        grid-column: 2/-1;
        grid-row: 1/2;
        border-right: none;
    }

    .tempDegree {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .weatherDetails {
        grid-column: 1/-1;
        grid-row: 2/-1;
        border-top: var(--border);
    }

    footer p {
        text-align: center;
    }
}

/* Medium media query */
@media only screen and (43.75em < width < 62em) { /* 992px */  
    #weatherDiv {
        width: 80%;
    }
}
